/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900
.work-sans-<uniquifier> {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* Spline Sans */
@import url('https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300..700&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 300 to 700

.spline-sans-<uniquifier> {
  font-family: "Spline Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */


@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 800

.manrope-<uniquifier> {
  font-family: "Manrope", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* CSS Reset */

/* 0% opacity (fully transparent): 00
10% opacity: 1A
20% opacity: 33
30% opacity: 4D
40% opacity: 66
50% opacity: 80
60% opacity: 99
70% opacity: B3
80% opacity: CC
90% opacity: E6
100% opacity (fully opaque): FF */

:root {
    --light-purple: #E0AAFF;
    --medium-purple: #C77DFF;
    --dark-purple: #9D4EDD;
    --deep-purple: #7B2CBF;
    --light-gray: #F8F9FA;
    --gray: #CED4DA;
    --dark-gray: #6C757D;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 60px;
    font-family: "Manrope", sans-serif;
    
}


.application_header {
    font-family: "Spline Sans", sans-serif;
    display: flex;
    position: fixed;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    z-index: 1000; /* Ensure it is above other content */
    height: 60px;
    background-image: url('/static/images/ApplicationFormBGV2blurry.png');
    background-color: #F8F9FA;
    background-size: cover; /* Scale the background image to cover the entire header */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-attachment: fixed;
    box-shadow: 3px 3px 5px #abb4bb1a; 
}

.button_version_1 {
    display: inline-block;
    width: 15rem; /* Fixed width */
    padding: 8px 10px;
    margin: 10px; /* Add margin if needed */
    border: 1px solid #BDBDBD; /* Use border color variable */
    border-radius: 10px; /* Slightly rounded corners */
    background-color: #F8F9FAE6; /* Use background color variable */
    color: #343A40; /* Use text color variable */
    font-size: 0.9rem; /* Font size */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline for links */
    cursor: pointer; /* Pointer cursor on hover */
    transition: background-color 0.2s, border-color 0.2s; /* Transition effects */
}

.button_version_1:hover {
    color: var(--light-gray);
    background-color: var(--dark-purple);
    border-color: var(--dark-purple); /* Darker border color on hover */
}

.button_version_1:active {
    color: #343A40;
    background-color: var(--light-purple); /* Even darker background color when clicked */
    border-color: var(--light-purple); /* Even darker border color when clicked */
}

li, a {
    text-decoration: none;
}

.nav-links {
    list-style: none;
    /* border: 1px solid black; */
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3 ease 0s;
    color: #5A189A;
}

.nav-links li a:hover {
    color: #5A189A;
    text-decoration: underline;
}

.all-inputs-container {
    margin-top: 50px;
}

.form-section {
    border: 2px solid #6C757D;
    border-radius: 20px;
    width: 60%;
    margin: 30px auto;
    /* padding: 15px; */
    /* padding: 20px 20px 20px 20px; top, right, bottom, left */
    background-color: #F8F9FA99; /* 99 represents 0.6 opacity */
    overflow: auto;
    padding-bottom: 5px;
    box-shadow: 2px 2px 5px #6C757D66,   /* Right and bottom */
                -2px 2px 5px #6C757D66;  /* Left */
}

.form-section p {
    padding: 3px;
    margin: 10px 5px;
    font-size: medium;
}




.form-section input[type="text"],
.form-section input[type="number"],
.form-section input[type="date"],
.form-section input[type="email"],
.form-section textarea,
.form-section select,
.form-section input[type="checkbox"] {
    /* Remove default styling */
    appearance: none;
    /* Reset border, background, and outline */
    background-color: #F8F9FAE6; /* Or set it to whatever background color you want */
    outline: none;
    /* Additional styling as needed */
    padding: 8px 10px;
    border: 1px solid #BDBDBD;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: medium;
    color: #343A40;

}

.form-section input[type="checkbox"] {
    /* Set checkbox dimensions */
    width: 20px;
    height: 20px;
    /* Style checkbox */
    border: 1px solid #BDBDBD;
    border-radius: 3px;
    background-color: #F8F9FAE6; /* Or set it to whatever background color you want */
    outline: none;
    /* Add custom checkmark */
    position: relative;
}

.form-section input[type="checkbox"]:checked::before {
    content: "✔";
    color: #C77DFF;
    display: block;
    position: absolute;
    transform: translate(-65%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 2px;
    text-align: center;
    line-height: 10px;
}

/* Show custom checkmark when checkbox is checked */
.form-section input[type="checkbox"]:checked::before {
    opacity: 1;
}



/* Styling for input elements while active */
.form-section input[type="text"]:focus,
.form-section input[type="number"]:focus,
.form-section input[type="date"]:focus,
.form-section input[type="email"]:focus,
.form-section textarea:focus,
.form-section input[type="checkbox"]:focus {
    box-sizing: border-box;
    border-color: #C77DFF; /* Change border color to blue when active */
    border-width: 1.5px; /* Increase border width */
}

.section-title-container {
    border-bottom: 1px solid #BDBDBD;
}

.section-title {
    font-weight: 700;
    margin: 15px 25px;
}

.all-inputs-container {
    margin: 15px 25px;
    font-size: 0.9rem;
}

.grid-inputs-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
}

.name-div {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.address-div {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.contacts-div {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.criminal-conviction-status-checkbox-div {
    display: flex;
    padding: 3px;
    margin: 5px;
    color: #495057;
    align-items: center;
    /* border: 1px solid black; */
}

.input-box {
    /* border: 0.1px solid black; */
    padding: 3px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    color: #495057;
}

.input-label {
    font-weight: 500;
    margin: 5px;
    /* border: 0.1px solid black; */
}

.reason_for_conviction_div {
    display: none; /* Hide the second div initially */
  }
  
  .criminal-conviction-status-checkbox-div:checked ~ .reason_for_conviction_div {
    display: flex;
    flex-direction: column; /* Show the second div only when the checkbox is checked */
  }
  
/* DESIRED EMPLOYMENT */
.radio-buttons {
    display: flex;
    align-items: center;
    gap: 10px; /* Adjust the gap between radio buttons and labels */
}

.radio-buttons input[type="radio"] {
    appearance: none; /* Hide default radio button */
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    width: 15px; /* Width of custom radio button */
    height: 15px; /* Height of custom radio button */
    border: 1px solid var(--dark-gray); /* Border color */
    border-radius: 80%; /* Rounded border to make it circular */
    cursor: pointer; /* Cursor style */
}

.radio-buttons input[type="radio"]:checked {
    background-color: var(--medium-purple); /* Background color when checked */
}


/* EDUCATION SECTION */
.education-entry {
    border: 1px solid #CED4DA;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 15px 10px;
}

.education-input-fields {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    margin: 0px 5px 7.5px 3px;
}

/* WORK EXPERIENCE SECTION */
.work-experience-entry {
    border: 1px solid #CED4DA;
    border-radius: 20px;
    padding: 10px;
    margin: 15px 10px;
}

.period-div {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
}

.present-employer-contact-checkbox-div {
    display: flex;
    padding: 3px;
    margin: 5px;
    color: #495057;
    align-items: center;
    /* border: 1px solid black; */
}

/* Hide the supervisor contact info and reason for conviction div initially */
.supervisor-contact-info,
.no-contact-reason {
    display: none;
}

/* Show the supervisor contact info when present employer contact permission checkbox is checked */
#present_employer_contact_permission:checked ~ .supervisor-contact-info {
    display: block;
}

/* Show the reason for conviction div when present employer contact permission checkbox is unchecked */
#present_employer_contact_permission:not(:checked) ~ .no-contact-reason {
    display: block;
}

/*  SUBMIT SECTION */
.submit_button {
    display: block; /* Change display to block for full width */
    width: 10rem;
    padding: 12px 10px;
    margin: 10px 7px; /* Add margin if needed */
    border-radius: 10px;
    color: var(--light-gray);
    background-color: var(--dark-purple);
    border-color: var(--dark-purple);
    font-weight: 500;
    font-size: 0.9rem;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s, border-color 0.2s;
    border: none;
    box-sizing: border-box;
    font-size: medium;
}

.submit_button:hover {
    color: var(--light-gray);
    background-color: var(--medium-purple);
    border-color: var(--medium-purple);
}

.submit_button:active {
    color: var(--light-gray);
    background-color: var(--deep-purple);
    border-color: var(--deep-purple);
}


/* LANDING PAGE */
.landing_page_header {
    font-family: "Spline Sans", sans-serif;
    display: flex;
    position: fixed;
    justify-content: flex-end;
    padding: 30px 10%;
    align-items: center;
    width: 100vw;
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    z-index: 1000; /* Ensure it is above other content */
    height: 60px;
    background-color: transparent;
}

.landing_page_nav_links li a{
    color: #10002B;
}
.logo {
    margin-right: auto;
    object-fit: contain;
    max-height: 35px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 60px);
    background-color: transparent;
}

.content {
    display: flex;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    /* border: 1px solid #10002B; */
}

.left-side {
    z-index: 50;
    display: flex;
    flex: 0 0 calc(50% - 40px); /* 50% width minus margins */
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 40px 40px 40px 100px;
    margin: 20px;
    text-align: left;
    box-sizing: border-box;
    /* border: 1px solid #10002B; */
    overflow: hidden; /* Hide overflow to avoid border causing extra width */
}

.main-title {
    font-family: "Work Sans", sans-serif;
    font-size: 3.7rem;
    color: #10002B;
    margin-bottom: 10px;
}

.right-side {
    flex: 0 0 50%; /* 50% width */

    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    /* border: 1px solid #10002B; */
    max-height: 100%;
    width: 50%;
}

.laptop_girl {
    z-index: 40;
    max-width: 110%;
    height: auto;
    box-sizing: border-box;
    object-fit: contain;
}

/* VIEW DATABASE PAGE */
.view_database_header {
    background-image: url('/static/images/ApplicationFormBGV2blurry.png');
    background-color: #F8F9FA;
    background-size: cover; /* Scale the background image to cover the entire header */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    background-attachment: fixed;
    box-shadow: 3px 3px 5px #abb4bb4D; 
}

/* FILTER AND SORT */
.filter_and_search_container {
    font-size: large;
    /* border: 1px solid var(--dark-gray); */
    margin: 10px 40px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
}

.filter_and_search_container > * {
    margin-bottom: 5px; /* Adjust the margin size as needed */
}


/* CSS for table */
.main_table {
    overflow-x: auto; /* Enable horizontal scrolling */
    max-width: 100%; /* Optional: Ensure container does not exceed viewport width */
    margin: 20px 50px; /* Optional: Add margin for spacing */
    border-radius: 20px;
    box-shadow: 0 -3px 5px #6C757D66, /* Top */
                3px 3px 5px #6C757D66,   /* Right and bottom */
                -3px 3px 5px #6C757D66;  /* Left */
}

/* Hide scrollbar for WebKit browsers */
.main_table::-webkit-scrollbar {
    width: 0; /* Remove scrollbar width */
    height: 10px;
    background: transparent; /* Remove scrollbar background */
    margin: 10px;
}

/* Optional: Remove track and thumb styles */
.main_table::-webkit-scrollbar-track {
    background-color: transparent; /* Remove scrollbar track color */
    ;
}

.main_table::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background-color: #CED4DA; /* Remove scrollbar thumb color */
}

table {
    width: 100%;
    border-collapse: collapse; /* Ensure cells are separated */
    width: max-content;
    border-radius: 10px;
    overflow: hidden;
}

/* CSS for table header (th) */
th {
    background-color: #5A189A; /* Light gray background for headers */
    color: #F8F9FA;
    padding: 14px 16px 14px 10px; /* Padding inside header cells */
    text-align: left;
}

/* CSS for table data (td) */
td {
    border-bottom: 1px solid #ccc; /* Add borders to data cells */
    padding: 10px 16px 10px 10px; /* Padding inside data cells */
    box-sizing: border-box;
}

/* Target the 5th and 11th columns */
table tr td:nth-child(15),
table tr td:nth-child(20),
table tr td:nth-child(24),
table tr td:nth-child(33) {
    border-right: 0.5px solid #ccc; /* Adjust border color and style as needed */
}


/* Optional: CSS for alternate row colors */
tr:nth-child(even) {
    background-color: #F8F9FA99; /* Light alternate background color */
}

tr:nth-child(odd) {
    background-color: #DEE2E6; /* Light alternate background color */
}

.update_button {
    background-color: var(--deep-purple); /* Bootstrap's delete button red color */
    color: white;
    border: none;
    padding: 4px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
    margin: 6px;
}

.update_button:hover {
    background-color: var(--dark-purple); /* Darken color on hover */
}


.delete_button {
    background-color: #dc3545; /* Bootstrap's delete button red color */
    color: white;
    border: none;
    padding: 6px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 0.3s ease;
}

.delete_button:hover {
    background-color: #c82333; /* Darken color on hover */
}