{% extends 'base.html' %}

{% block head%} 
<!-- <h1>Application Form</h1> -->
{% endblock %}


{% block body%} 
<!-- Background Image -->
<style>
body {
    background-image: url('/static/images/ApplicationFormBGV2blurryGrain.png');
    background-color: #F8F9FA;
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background */
    background-repeat: no-repeat; /* Prevent background image from repeating */
    min-height: 100vh; /* Ensure the wrapper covers the entire viewport height */
    background-attachment: fixed;
}
</style>

<header class="application_header">
    <nav>
        <ul class="nav-links">
            <li><a href="#personal-information">Personal Information</a></li>
            <li><a href="#desired-employment">Desired Employment</a></li>
            <li><a href="#education">Education</a></li>
            <li><a href="#work-experience">Work Experience</a></li>
            <li><a href="#major-skills">Major Skills</a></li>
            <li><a href="#confirm-submission">Confirm Submission</a></li>
            <li><a href="{{ url_for('index') }}">Return to Landing Page</a></li>
        </ul>
    </nav>
</header>


<form method="POST" action="">
    <section id="personal-information" class="form-section">
        <div class="section-title-container">
            <h1 class="section-title">Personal Information</h1>
        </div>  

        <div class="all-inputs-container">
            <div class="grid-inputs-container">
                <div class="input-box sss-number-div">
                    <label for="sss_number" class="input-label">SSS Number</label>
                    <input type="number" id="sss_number" name="sss_number" required>
                </div>
                
                <div class="name-div">
                    <div class="input-box">
                        <label for="given_name" class="input-label">Given Name</label>
                        <input type="text" id="given_name" name="given_name" required>
                    </div>
                    <div class="input-box">
                        <label for="middle_initial" class="input-label">Middle Initial</label>
                        <input type="text" id="middle_initial" name="middle_initial">
                    </div>
                    <div class="input-box">
                        <label for="last_name" class="input-label">Last Name</label>
                        <input type="text" id="last_name" name="last_name" required>
                    </div>
                    <div class="input-box">
                        <label for="suffix" class="input-label">Suffix</label>
                        <input type="text" id="suffix" name="suffix">
                    </div>
                </div>
                
                <div class="input-box">
                    <label for="birth_date" class="input-label">Birth Date</label>
                    <input type="date" id="birth_date" name="birth_date">
                </div>
                
                <div class="address-div">
                    <div class="input-box">
                        <label for="address" class="input-label">Address</label>
                        <input type="text" id="address" name="address" required>
                    </div>
                    <div class="input-box">
                        <label for="city" class="input-label">City</label>
                        <input type="text" id="city" name="city" required>
                    </div>
                    <div class="input-box">
                        <label for="state" class="input-label">State</label>
                        <input type="text" id="state" name="state" required>
                    </div>
                    <div class="input-box">
                        <label for="zip_code" class="input-label">ZIP Code</label>
                        <input type="text" id="zip_code" name="zip_code" required>
                    </div>
                </div>
                
                <div class="contacts-div">
                    <div class="input-box">
                        <label for="phone_1" class="input-label">Phone 1</label>
                        <input type="text" id="phone_1" name="phone_1" required>
                    </div>
                    <div class="input-box">
                        <label for="phone_2" class="input-label">Phone 2</label>
                        <input type="text" id="phone_2" name="phone_2" required>
                    </div>
                    <div class="input-group">
                        <div class="input-box">
                            <label for="email" class="input-label">Email</label>
                            <input type="email" id="email" name="email" required>
                        </div>
                    </div>
                </div>
            </div>
            <div>
                <div class="criminal-conviction-status-checkbox-div">
                    <label for="criminal_conviction_status" class="input-label">Have you ever been convicted of a crime other than a minor traffic incident:</label>
                    <input type="checkbox" id="criminal_conviction_status" name="criminal_conviction_status">
                </div>
                
                <div class="input-box reason_for_conviction_div">
                    <label for="reason_for_conviction" class="input-label">If Yes, please explain:</label>
                    <textarea id="reason_for_conviction" name="reason_for_conviction"></textarea>
                </div>
            </div>
        </div>
    </section>

    
    <section id="confirm-submission" class="form-section">
        <div class="section-title-container">
            <h1 class="section-title">Confirm Submission</h1>
        </div>  

        <div class="all-inputs-container">

            <p class="input-box">
                Please review all of your information before submitting.
            </p>

            <p class="input-box">
                I certify that the information contained in this application is accurate and correct. I understand that any omission or error may be grounds for dismissal.
            </p>
            <div class="input-box">
                <label for="signature" class="input-label">Signature (Image):</label>
                <input type="file" id="signature" name="signature" accept="image/*" required>
            </div>
            
            <div class="input-box">
                <label for="date_of_application_submission" class="input-label">Date of Application Submission:</label>
                <input type="date" id="date_of_application_submission" name="date_of_application_submission" readonly required>
            </div>
            
            <div>
                <button class="submit_button" type="submit">Submit</button>
            </div>
        </div>
    </section>
    
</form>

<script src="/static/js/scroll.js"></script>

{% endblock %}

<!-- python3 app.py -->